export(assignAndReply)
export(clearRReInput)
export(clientAppIsRunning)
export(closeEh)
export(closeServerCon)
export(connectToApp)
export(connectToClientApp)
export(connectToServerApp)
export(containsString)
export(createAppCmd)
export(createAppConnectCommand)
export(createExprMessage)
export(createRcsMessage)
export(createRcsObjMessage)
export(createSerializedMessage)
export(createTimeoutException)
export(defineMessageTypes)
export(defineRcsMessageTypes)
export(eatLeftovers)
export(evalExpression)
export(getFirstOpenConObj)
export(getJavaAppClassPath)
export(getMaxBytesReturnable)
export(getOpenCon)
export(getOpenConObj)
export(getOpenConObjKey)
export(getSinkOutput)
export(handleExpression)
export(handleObject)
export(hasEl)
export(isGoodCon)
export(isOpenEh)
export(isRcsMessage)
export(isRcsType)
export(isTimeoutException)
export(launchRReClientApp)
export(launchRReServerApp)
export(noConStop)
export(padLeft)
export(putOpenCon)
export(re)
export(readAck)
export(readM)
export(readMessage)
export(remoteEval)
export(rre.closeAllConnections)
export(rre.closeClient)
export(rreServer)
export(rre.showClients)
export(rre.startClient)
export(scpDownload)
export(scpUpload)
export(sendAck)
export(sendAppCmd)
export(sendEvalError)
export(sendEvalResult)
export(sendEvm)
export(sendEvm.v0)
export(sendMessageToRReServer)
export(sendToRReServer)
export(sendUnexpectedMessageError)
export(serializeToString)
export(setVerbose)
export(setWorkingDir)
export(sinkStart)
export(testSerialization)
export(trim)
export(unserializeFromString)
export(uploadObject)
export(upo)
export(verboseOn)
export(writeMessage)
export(writeSObjMessage)
export(writeString)
